<h3>ToastProvider</h3>

<div @attributes="@UserAttributes" id="toast-container" class="@ClassName" style="@Style">
    @if (Toast != null)
    {
        @foreach (var toast in Toast)
        {
            <ToastElement @key="toast" Toast="@toast"></ToastElement>
        }
    }
</div>